<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658919642567-j8opsissg7jor0ssgbr51s5uihajc40i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658919642567-j8opsissg7jor0ssgbr51s5uihajc40i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>658919642567-l7ekhkfckhu2bdns4223gmlmcce1p1nn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJRz2AQBkMviPk8WRFdcaIJsRYkl40sM8</string>
	<key>GCM_SENDER_ID</key>
	<string>658919642567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.osaka.rabbit</string>
	<key>PROJECT_ID</key>
	<string>co-x-f6697</string>
	<key>STORAGE_BUCKET</key>
	<string>co-x-f6697.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658919642567:ios:0a056a300648a9723bb5e2</string>
</dict>
</plist>